<ul class="task-lists">
	<% course.task_lists.sort_by { |x| x.name }.each do |list| %>
		<% if !task_list.nil? && list.id == task_list.id %>
			<li class="task-list selected">
				<div>
					<%= list.name %>
				</div>
				<ul class="tasks">
					<% list.student_tasks(current_student).each do |t| %>
						<% if !task.nil? && t.task.id == task.id %>
							<li class="task selected">
								<div>
									<%= t.task.title %>
								</div>
							</li>
						<% else %>
							<li class="task">
								<a href="<%= course_task_list_task_path(course, list, t.task) %>">
									<%= t.task.title %>
								</a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</li>
		<% else %>			
			<li class="task-list">
				<a href="<%= course_task_list_path(course, list) %>">
					<%= list.name %>
				</a>
			</li>
		<% end %>			
	<% end %>
</ul>
