<ul class="task-lists">
	<% course.task_lists.sort_by { |x| x.name }.each do |list| %>
		<% if !task_list.nil? && list.id == task_list.id %>
			<li class="task-list selected">
				<a href="<%= course_task_list_path(course, list) %>">
					<%= list.name %>
				</a>
				<ul class="tasks">
					<% list.student_tasks(current_student).sort_by { |x| x.task.index }.each do |t| %>
						<li class="task <%= (!task.nil? && t.task.id == task.id) ? 'selected' : '' %>"
							data-done="<%= t.done? ? 1 : 0 %>">
							<div class="selector"></div>
							<a href="<%= course_task_list_task_path(course, list, t.task) %>">
								<div class="task-name"><%= t.task.title %></div>
								<div class="done <%= t.done? ? 'visible' : '' %>"></div>
							</a>
						</li>
					<% end %>
				</ul>
			</li>
		<% else %>			
			<li class="task-list">
				<a href="<%= course_task_list_path(course, list) %>">
					<%= list.name %>
				</a>
			</li>
		<% end %>			
	<% end %>
</ul>
